* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-color-navbar {
  background-color: #093956;
}

#contenedor-global {
  background-color: #ebece6;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  min-height: 100vh;
  grid-template-areas: "cabecera" "contenido" "footer";
}

#cabecera-global {
  grid-area: cabecera;
}

#cabecera-global img {
  width: 20%;
}

.nombre-comercial {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.title-principal {
  position: relative;
  display: inline;
  font-size: 10px;
  font-weight: 800;
  font-family: "Rowdies", cursive;
  color: #ededcf;
}

#contenido-principal {
  grid-area: contenido;
}
#contenido-principal h2 {
  font-family: "Lobster", cursive;
  text-align: center;
}

.logo {
  position: relative;
  display: inline;
  height: 50px;
  margin-right: 5px;
}

.conteiner_descipcion {
  margin-top: 20px;
}

.presentacion_video {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

#video-hotel {
  display: flex;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.ubicacion {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.img-habitacion {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

.habitacion p {
  width: 90%;
  margin: auto;
}

.title-promociones {
  margin-top: 5%;
}

@media screen and (min-width: 1024px) {
  #cabecera-global {
    grid-area: cabecera;
  }
  #contenido-principal {
    grid-area: contenido;
  }
  #contenido-principal h2 {
    font-family: "Lobster", cursive;
    text-align: center;
  }
  .logo {
    position: relative;
    display: inline;
    height: 50px;
    margin-right: 5px;
  }
  .nombre-comercial {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  .title-principal {
    position: relative;
    display: inline;
    font-size: 20px;
    font-weight: 800;
    font-family: "Rowdies", cursive;
    color: #ededcf;
  }
  #contenido-secundario {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a b";
  }
  #contenido-secundario h2 {
    font-family: "Lobster", cursive;
  }
  .conteiner_descipcion {
    grid-area: a;
    margin-top: 30px;
    margin-bottom: 100px;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 50px;
    display: inline-block;
    text-align: center;
  }
  .presentacion_video {
    grid-area: b;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    display: inline-block;
    text-align: center;
    width: 50%;
  }
  .habitacion {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }
  .img-habitacion {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
  }
  #video-hotel {
    display: flex;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 70%;
  }
  .ubicacion {
    background-color: #d7bfb3;
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
  }
}
#footer-global {
  grid-area: footer;
  margin-top: 20px;
  background-color: grey;
  text-align: center;
}/*# sourceMappingURL=main.css.map */